#video-viewport
  = video_tag "vintage.mp4", :size => "320x190", :controls => true, id: 'video', autoplay: "", controls: ""
  .container
    .banner-content{style: "color: white; position: absolute; top: 350px; width: 40%; font-family:'Open Sans Condensed', sans-serif; letter-spacing: 4px;"}
      %h2{style: "font-size: 50px; margin-bottom: 30px; "} Plan Your Next Event
      %p{style: 'font-size: 25px; line-height:35px;'} Lorem ipsum dolor sitta upsum dolor.  Lorem ipsum dolor sitta upsum dolor.  Lorem ipsum dolor sitta upsum dolor.
      .transparent-button
        View More Info
      .solid-button
        View More Info
#body-content
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %h1 HELLLLOOOOO~!!~~!~~~!