#video-viewport{style: 'background: black;'}
  = video_tag "grainvideo.mov", :size => "1280x720", :controls => true, id: 'video', autoplay: "", controls: ""
  .container
    #banner-content
      %h2{style: "font-size: 30px;"} Plan Your Next Event
      %p{style: 'font-size: 15px; line-height:22px;'} Lorem ipsum dolor sitta upsum dolor.  Lorem ipsum dolor sitta upsum dolor.  Lorem ipsum dolor sitta upsum dolor.
      .transparent-button
        View More Info
      .solid-button
        View More Info
#body-content
  %br
  .container
    .row
      .span3
        .cirlce
          .span.icon-star{style: 'position: relative; right: 20px; top: 8px;'}
        .span{style: 'float: left; font-family:"Open Sans Condensed", sans-serif; font-size: 20px; margin-top: 22px; position: relative; right: 20px;'}
          %strong
            Lorem Ipsum dolor sitta
        .span{style: 'text-align: left; margin-top: 10px; font-family:"Open Sans Condensed"; position: relative; right: 25px;'}
          Lorem ipsum dolor sitta.  Ipsum dolor sitta.  Lorem ipsum dolor sitta.  Ipsum dolor sitta.
      .span3
        .cirlce
          .span.icon-star{style: 'position: relative; right: 20px; top: 8px;'}
        .span{style: 'float: left; font-family:"Open Sans Condensed", sans-serif; font-size: 20px; margin-top: 22px; position: relative; right: 20px;'}
          %strong
            Lorem Ipsum dolor sitta
        .span{style: 'text-align: left; margin-top: 10px; font-family:"Open Sans Condensed"; position: relative; right: 25px;'}
          Lorem ipsum dolor sitta.  Ipsum dolor sitta.  Lorem ipsum dolor sitta.  Ipsum dolor sitta.
      .span3
        .cirlce
          .span.icon-star{style: 'position: relative; right: 20px; top: 8px;'}
        .span{style: 'float: left; font-family:"Open Sans Condensed", sans-serif; font-size: 20px; margin-top: 22px; position: relative; right: 20px;'}
          %strong
            Lorem Ipsum dolor sitta
        .span{style: 'text-align: left; margin-top: 10px; font-family:"Open Sans Condensed"; position: relative; right: 25px;'}
          Lorem ipsum dolor sitta.  Ipsum dolor sitta.  Lorem ipsum dolor sitta.  Ipsum dolor sitta.
      .span3
        .cirlce
          .span.icon-star{style: 'position: relative; right: 20px; top: 8px;'}
        .span{style: 'float: left; font-family:"Open Sans Condensed", sans-serif; font-size: 20px; margin-top: 22px; position: relative; right: 20px;'}
          %strong
            Lorem Ipsum dolor sitta
        .span{style: 'text-align: left; margin-top: 10px; font-family:"Open Sans Condensed"; position: relative; right: 25px;'}
          Lorem ipsum dolor sitta.  Ipsum dolor sitta.  Lorem ipsum dolor sitta.  Ipsum dolor sitta.
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br