.span10{style: 'margin: 0;'}
	%h3
		= @event.name
		- if current_user
		- else
			= link_to 'Edit', edit_user_event_path(@event.eventable, @event), class: 'btn-small btn-warning'
			= link_to 'Delete', user_event_path(@event.eventable, @event), class: 'btn-small btn-danger', method: :delete

	.span3{style: 'position: relative; top: 0px;'}


