.container
	.row
		.span8
			.created-event
				= render 'event'
				- if current_user
					= link_to "Add Items", new_user_event_item_path(@eventable, @event, @items), class: 'btn-small btn-success add-items', remote: true
			.created-items
				= render 'items/item'
		.span4
			.created-volunteers
				= render 'volunteers/volunteer'
.add-item-form-container