body{
	margin-top: 10px;
}

input{
	width: 100% !important;
	height: 30px !important;
}

.create-event{
	height: 50px !important;
}

.event-creator-box{
	border: solid #cfcfcf 1px;
	width: 100%;
	padding: 10px;
	background: #FAFAFA;
	border-radius: 10px;
}